<div class="post-details" *ngIf="post$ | async as post; else processing">
  <div class="post-details__back" (click)="onGoBack()">
    <span class="post-details__back-icon"
      ><app-go-back-icon></app-go-back-icon></span
    ><span class="post-details__back-text">Вернуться</span>
  </div>
  <div class="post-details__title">{{ post.title | titlecase }}</div>
  <div class="post-details__info">
    <div class="post-details__author">
      <span class="property">Автор</span
      ><span class="value">{{ post.user.name }}</span>
    </div>
    <div class="post-details__comments">
      <span class="property">Комментариев</span
      ><span class="value">{{ post.comments.data.length }}</span>
    </div>
  </div>
  <div class="post-details__content">
    <div class="post-details__content-title">Содержание</div>
    <div class="post-details__content-text">
      {{ post.body }}
    </div>
  </div>
</div>
<ng-template #processing>
  <div class="processing">Processing</div>
</ng-template>
