<div class="post-details">
  <div class="post-details__back" (click)="onGoBack()">
    <span class="post-details__back-icon"
      ><app-go-back-icon></app-go-back-icon></span
    ><span class="post-details__back-text">Вернуться</span>
  </div>
  <div class="post-details__title">Post Title</div>
  <div class="post-details__info">
    <div class="post-details__author">
      <span class="property">Автор</span><span class="value">author</span>
    </div>
    <div class="post-details__comments">
      <span class="property">Комментариев</span><span class="value">5</span>
    </div>
  </div>
  <div class="post-details__content">
    <div class="post-details__content-title">Содержание</div>
    <div class="post-details__content-text">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem beatae
      laudantium et illo laboriosam, dolor quod repellat, architecto similique
      impedit modi ipsam iusto quia unde neque nostrum? Velit minus repudiandae
      vel numquam neque, consequuntur iusto quod libero expedita eligendi
      voluptatibus officiis ducimus. Praesentium, laborum! Temporibus ipsum,
      voluptate laudantium eaque perferendis accusamus unde tempore eum adipisci
      in ducimus et quae architecto voluptates ad excepturi doloribus magnam
      asperiores. Quis nobis quas debitis nisi asperiores veritatis molestiae
      quibusdam fuga cupiditate libero. Aut, dolorem? Reprehenderit ipsum nam
      architecto, optio aliquam sunt quasi quam odio, impedit dolorem velit.
      Asperiores, libero beatae. Repellat dignissimos perferendis eaque.
    </div>
  </div>
</div>
